<launch>
  <include file="$(find openni_launch)/launch/openni.launch"/>
  <node pkg="dvo_tracking" type="depth_tracker" name="depth_tracker" output="screen">
    <param name="reconstruction" type="bool" value="true" />
    <param name="use_weighting" type="bool" value="true" />
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dvo_tracking)/cfg/dvo_ros.rviz"/>
</launch>